body {
  margin: 0px;
}
.title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.button-container {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 750px;
}

.grid{
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.square {
  border: 1px solid black;
  background-color: white;
  flex: auto;
}

.row {
  display: flex;
  flex: auto;
}

.filled {
  background-color: black;
}



.content {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
